* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: white;
    height: 100%;
}

header {
    padding: 10px;
    background-image: linear-gradient(to bottom, #e9d7ad, #F3E9D3);
}

header div {
    display: flex;
}

.chat {
    background-image: linear-gradient(to bottom, #F3E9D3, white);
    background-repeat: no-repeat;
    height: 100vh;
}

footer {
    position: fixed;
    bottom: 2px;
}

footer div {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}