* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    background-image: linear-gradient(to bottom, #e9d7ad, #F3E9D3);
    height: 100%;
    background-repeat: no-repeat;
    width: 100%;
}

a{
    text-decoration: none;
}


header {
    background-color: black;
    color: white;
    z-index: 1002;
    position: relative;
    top: 0;
}

.vendeur {
    display: none;
    font-family: Helvetica;
}

@media(min-width: 1024px) {
    .vendeur {
        display: inline;
        font-size: 12px;
        font-family: Helvetica;
    }
}

@media(min-width: 1150px) {
    .vendeur {
        display: inline;
        font-size: 15px;
        font-family: Helvetica;
    }
}

.pesquisa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa input {
    width: 400px;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px;
}

@media(min-width: 1024px) {
    .pesquisa input {
        width: 50%;
        border-radius: 5px;
        text-decoration: none;
        padding: 3px;
    }
}

.item-menu {
    font-size: 10px;
}

@media(min-width: 1024px) {
    .item-menu {
        font-size: 14px;
    }
}

@media(min-width: 1150px) {
    .item-menu {
        font-size: 16px;
    }
}

.modal {
    top: 0;
    width: 100vw;
    height: 100%;
    display: none;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    position: fixed;
}

.destaques {
    margin-top: 20px;
    position: relative;
    padding: 10px;
    width: 100%;
    height: 230px;
    display: flex;
    overflow: hidden;
}

.p-destaque {
   width: 600px;
   margin-left: 25px;
   margin-right: 25px;
   margin-bottom: 25px;
   position: relative;
   display: flex;
   border-radius: 20px;
   padding: 5px;
   padding-left: 20px;
   background-color: white;
   box-shadow: rgb(155, 154, 154) 0px 0px 10px 0px;
}

.p-destaque h4 {
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }

.p-destaque p {
    color: gray;
    font-size: 16px;
    width: 350px;
    height: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
 }

img {
    width: 60px;
    margin: 5px;
}

a {
    margin-top: 10px;
    float: right;
}

.aliancas {
    display: grid;
    align-items: center;
    justify-content: center;
}

.aneis {
    display: grid;
    align-items: center;
    justify-content: center;
}

.brincos {
    display: grid;
    align-items: center;
    justify-content: center;
}

.colares {
    display: grid;
    align-items: center;
    justify-content: center;
}

.outros {
    display: grid;
    align-items: center;
    justify-content: center;
}

.titulo {
    position: relative;
    margin-top: 5px;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7B7B14;
}

.titulo h2 {
    font-family: Helvetica;
    margin-left: 10px;
    margin-right: 10px;
}

.card-prod {
    background-color: white;
    border-radius: 20px;
    width: 220px;
    height: 271px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 30px;
    transition: 100ms;
}

.card-prod:hover {
    transform: scale(1.1);
    transition: height 300ms;
    height: 320px;
    transition: margin-bottom 0ms;
    margin-bottom: -19px;
    z-index: 1000;
    box-shadow: gray 0px 0px 10px;
}

.card-prod p{
    font-family: Helvetica;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: -3px;
}

.card-prod  h6{
    font-family: Helvetica;
    white-space: nowrap;
    color: gray;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
    margin: 0;
    margin-bottom: -3px;
}

.card-prod  h4{
    font-family: Helvetica;
    font-size: 25px;
    white-space: nowrap;
    color: black;
    margin: 0;
}

.card-prod img {
    width: 150px;
    height: 130px;
}

.vA {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    width: 600px;
}

@media(min-width: 1024px) {
    .vA {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        width: 1024px;
    }
}

.vAB {
    display: none;
}

.vB {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    width: 600px;
    margin-bottom: 0px;
}

@media (min-width: 1024px) {
    .vB {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        width: 1024px;
        margin-bottom: 0px;
    }
}

.vAC {
    display: none;
}

.vC {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    width: 600px;
}

@media(min-width: 1024px) {
    .vC {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        width: 1024px;
    }
}

.vAD {
    display: none;
}

.vD {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    width: 600px;
}

@media(min-width: 1024px) {
    .vD {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        width: 1024px;
    }
}

.vAE {
    display: none;
}

.vE {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    width: 600px;
}

@media(min-width: 1024px) {
    .vE {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        width: 1024px;
    }
}

.vAF {
    display: none;
}

.vF {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    width: 600px;
}

@media(min-width: 1024px) {
    .vF {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        width: 1024px;
    }
}

#p-popup {
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: helvetica;
}

#produto-popup {
    background-color: white;
    border-radius: 20px;
    width: 700px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
    padding-top: 10px;
}

#produto {  
    background-color: white;
    border-radius: 20px;
    position: relative;
    margin-top: 0px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
}

.modal {
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
    z-index: 1003;
    position: fixed;
    backdrop-filter: blur(4px);
}

footer {
    background-image: linear-gradient(to bottom, #F3E9D3, white);
    width: 100%;
    padding: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .logo {
    width: 10%;
}

@media(min-width: 1000px) {
    .footer .logo {
        width: 8%;
    }
}

.footer i {
    font-size: 30px;
    margin: 5px;
}