* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: helvetica;
}

body {
    /*background-image: linear-gradient(to bottom, #e9d7ad, #F3E9D3);*/
    background-color:  #F3E9D3;
    height: 100vh;
    background-repeat: no-repeat;
    width: 100%;
}

img {
    width: 60px;
    margin: 5px;
}

a {
    margin-top: 10px;
    float: right;
    text-decoration: none;
}


header {
    background-color: black;
    color: white;
    z-index: 1002;
    position: relative;
    top: 0;
}

.vendeur {
    display: none;
    font-family: Helvetica;
}

@media(min-width: 1024px) {
    .vendeur {
        display: inline;
        font-size: 12px;
        font-family: Helvetica;
    }
}

@media(min-width: 1150px) {
    .vendeur {
        display: inline;
        font-size: 15px;
        font-family: Helvetica;
    }
}

.pesquisa {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pesquisa input {
    width: 400px;
    border-radius: 5px;
    text-decoration: none;
    padding: 3px;
}

@media(min-width: 1024px) {
    .pesquisa input {
        width: 50%;
        border-radius: 5px;
        text-decoration: none;
        padding: 3px;
    }
}

.item-menu {
    font-size: 10px;
}

@media(min-width: 1024px) {
    .item-menu {
        font-size: 14px;
    }
}

@media(min-width: 1150px) {
    .item-menu {
        font-size: 16px;
    }
}

.carrinho {
    margin-top: 30px;
    margin-bottom: 40px;
    display: grid;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

@media(min-width: 1360px) {
    .carrinho {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        padding: 10px;
        align-items: center;
        justify-content: center;
    }
}

.box {
    background-color: white;
    border-radius: 30px;
    width: 800px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 10px;
    display: flex;
}

@media(min-width: 1360px) {
    .box {
        background-color: white;
        border-radius: 30px;
        width: 60%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0;
        padding-bottom: 10px;
        display: flex;
        margin-right: 50px;
    }
}


.produtos {
    width: 100%;
    position: relative;
    min-height: 500px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.separacao {
    width: 100%;
    display: flex;
}

.titulo {
    color: #7B7B14;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: gray solid 1px;
}

.produto {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}

.produto input {
    font-size: 15px;
    padding:6px;
    padding-left: 10px;
    border-radius: 20px;
    border: gray solid 1px;
    width: 120px;
    height: 35px;
}

.produto input[type=number]::-webkit-inner-spin-button {
    all: unset; 
    min-width: 21px;
    min-height: 45px;
    margin: 17px;
    padding: 0px;
    background-image: 
    linear-gradient(to top, transparent 0px, transparent 16px, #fff 16px, #fff 26px, transparent 26px, transparent 35px, #000 35px,#000 36px,transparent 36px, transparent 40px),
    linear-gradient(to right, transparent 0px, transparent 10px, #000 10px, #000 11px, transparent 11px, transparent 21px);
    transform: rotate(90deg) scale(0.8, 0.9);
    cursor:pointer;
}

.total {
    color: #7B7B14;
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: gray solid 1px;
    position: absolute;
    bottom: 0;
}

.pagamento {
    background-color: #F6F6ED;
    width: 800px;
    padding: 5px;
    margin-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    box-shadow: rgb(185, 185, 185) 0px 2px 10px;
}

@media(min-width: 1360px) {
    .pagamento {
        background-color: #F6F6ED;
        width: 30%;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 20px;
        box-shadow: rgb(185, 185, 185) 0px 2px 10px;
    }
}

.formaPag {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.formaPag select {
    width: 180px;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: -5px;
    font-size: 20px;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.Dados {
    width: 100%;
}

.Dados input {
    font-size: 18px;
    font-family: Helvetica;
}

.Dados input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.Dados select {
    width: 125px;
    border-radius: 5px;
    font-family: Helvetica;
    margin-top: 5px;
    margin-left: 0px;
    font-size: 18px;
    padding: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

footer {
    background-image: linear-gradient(to bottom, #F3E9D3, white);
    width: 100%;
    padding: 10px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .logo {
    width: 10%;
}

@media(min-width: 1000px) {
    .footer .logo {
        width: 8%;
    }
}

.footer i {
    font-size: 30px;
    margin: 5px;
}